.flex-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-fields {
  flex-basis: 48%;
  justify-content: space-evenly;
  flex-grow: 1;
}

.flex-fields select {
  width: 100%;
}

.full-width {
  flex-basis: 100%;
}

select.assign-dropdown {
  flex-grow: 1;
  min-width: 0;
}

.container-padding {
  padding: 2rem 0;

  @media only screen and (max-width: 500px) {
    padding: 1.5rem 1rem;
  }
}

.nav-wrapper .page-container {
  @media only screen and (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.nav-login-btn {
  margin-left: auto;

  @media only screen and (max-width: 500px) {
    margin: 10px 0 0 0;
    flex-basis: 100%;
  }
}

.nav-login-link {
  margin-left: auto;
}

.nav-item {
  @media only screen and (max-width: 500px) {
    margin-right: 0;
  }
}

.login-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

.nav-logo {
  width: 100%;
  max-width: 60px;
  height: auto;
  object-fit: contain;
}

.delete-btn:hover {
  color: var(--col-5);
  cursor: pointer;
  transition: all 0.15s ease-out;
  transform: scale(1.15);
}

.gear-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gear-header {
  display: flex;
  flex-direction: row;
  padding: 40px 0 0 0;

  @media only screen and (max-width: 500px) {
    display: none;
  }
}

.gear-row {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #202020;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.specs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  margin: 0;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.gear-col-lrg {
  display: flex;
  flex-basis: 32%;
  flex-direction: column;
  gap: 10px;
}

.gear-col-sm {
  display: flex;
  flex-basis: 15%;
  flex-direction: column;
  gap: 10px;
}

dt {
  font-size: 14px;
  text-transform: uppercase;
  color: #a5a6a6;
}

.row-actions {
  display: flex;
  flex-basis: 15%;
  margin-left: auto;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  @media only screen and (max-width: 500px) {
    margin: auto;
  }
}

.song-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.song-header {
  display: flex;
  flex-direction: row;
  padding: 40px 0 0 0;

  @media only screen and (max-width: 500px) {
    display: none;
  }
}

.song-row {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #202020;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.gear-row {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #202020;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.song-col-lrg {
  display: flex;
  flex-basis: 65%;
  flex-direction: column;
  gap: 10px;
}

.song-col-sm {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  gap: 10px;
}

.hdr-btn-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
}

.hdr-btn-h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: 500px) {
    position: static;
    transform: none;
  }
}

.hdr-btn {
  margin-left: auto;

  @media only screen and (max-width: 500px) {
    margin-left: 0;
    padding-top: 20px;
  }
}

.assign-btn {
  margin-left: auto;
}

.songs-gear-row {
  vertical-align: middle;
}

[data-bs-theme="dark"] .form-select {
  color: #55595c;
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2355595c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .btn-outline-secondary {
  border-color: var(--accent);
  --bs-btn-color: var(--accent);
  --bs-btn-border-color: var(--accent);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--accent);
  --bs-btn-hover-border-color: var(--accent);
  --bs-btn-active-bg: var(--accent);
  --bs-btn-active-border-color: var(--accent);
}

/* [data-bs-theme="dark"] .btn-primary {
  color: #ffffff;
  --bs-btn-bg: var(--accent);
  --bs-btn-border-color: var(--accent);
  --bs-btn-hover-bg: var(--accent-border);
  --bs-btn-hover-border-color: var(--accent-border);
  --bs-btn-active-bg: var(--accent);
  --bs-btn-active-border-color: var(--accent);
} */

[data-bs-theme="dark"] .btn-outline-danger {
  border-color: #f6523f;
  --bs-btn-color: #f6523f;
  --bs-btn-border-color: #f6523f;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #f6523f;
  --bs-btn-hover-border-color: #f6523f;
  --bs-btn-active-bg: #f6523f;
  --bs-btn-active-border-color: #f6523f;
}

[data-bs-theme="dark"] .btn-success {
  color: #ffffff;
  --bs-btn-bg: var(--accent);
  --bs-btn-border-color: var(--accent);
  --bs-btn-hover-bg: var(--accent-border);
  --bs-btn-hover-border-color: var(--accent-border);
  --bs-btn-active-bg: var(--accent);
  --bs-btn-active-border-color: var(--accent);
}
